/chapter_2/ComputeArea/nbproject/private/
/chapter_2/ComputeArea/build/
/chapter_2/ComputeArea/dist/
/chapter_2/chapter_3/nbproject/private/
/chapter_2/chapter_3/build/
/Chapter_3/AnagramGame/nbproject/private/
/Chapter_3/JavaApplication3/nbproject/private/
/Java_Work/Chapter_4/nbproject/private/