/chapter_2/ComputeArea/nbproject/private/
/chapter_2/ComputeArea/build/
/chapter_2/ComputeArea/dist/
/chapter_2/chapter_3/nbproject/private/
/chapter_2/chapter_3/build/
/Chapter_3/AnagramGame/nbproject/private/
/Chapter_3/JavaApplication3/nbproject/private/
/Java_Work/Chapter_4/nbproject/private/
/Java_Work/Chapter_4/build/
/Java_Work/Chapter_5/nbproject/private/
/Java_Work/Chapter_5/build/
/Java_Work/chapter_6/nbproject/private/
/Java_Work/chapter_6/build/
/Java_Work/chapter_7/nbproject/private/
/Java_Work/chapter_7/build/
/Java_Work/chapter_9/nbproject/private/
/Java_Work/chapter_9/build/
/Java_Work/chapter_10/nbproject/private/
/Java_Work/Chapter_04/nbproject/private/
/Java_Work/Chapter_05/nbproject/private/
/Java_Work/chapter_06/nbproject/private/
/Java_Work/chapter_07/nbproject/private/
/Java_Work/chapter_09/nbproject/private/
/Java_Work/chapter_10/build/
/Java_Work/chapter_11/nbproject/private/
/Java_Work/chapter_11/build/
/Java_Work/chapter_12/nbproject/private/
/Java_Work/chapter_12/build/
/Java_Work/chapter_13/nbproject/private/
/Java_Work/chapter_13/build/
/Java_Work/chapter_06/build/
/Java_Work/chapter_17/nbproject/private/
/Java_Work/chapter_18/nbproject/private/
/Java_Work/chapter_18/build/
/Java_Work/Evidence_Module_03/nbproject/private/
/Java_Work/Evidence_Module_03/build/
/Java_Work/evidance_core_java/nbproject/private/
/Java_Work/evidenceSir/nbproject/private/